@font-face {
    font-family: 'Noto_Serif';
    src: url(../scripts/Noto_Serif/NotoSerif-Bold.ttf) format('ttf');
}

/***************** Containers *********************/

.aboutBodyBottomContainer{
    padding-bottom: 15px;
}

/***************** Headings *********************/

.aboutBodyHeading {
    margin-top: 0.05em;
    font-family: 'Noto-serif';
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    color:#5E2D1F;
}

.aboutBodyTopContainerHeading,
.aboutBodyBottomContainerHeading {
    font-family: 'Work Sans', sans-serif;
    margin: 1.5em 0 2% 0;
    font-size: 2.5em;
    color: #5F5E5E;
}

/***************** Tables *********************/

th, td{
    font-family: 'Nato_Serif';
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}

/***************** Text *********************/

.aboutBodyBottomContainerText {
    font-family: 'Nato_Serif';
    font-size: 1.2em;
    text-align: justify;
}
