@font-face {
    font-family: 'Noto_Serif';
    src: url(../scripts/Noto_Serif/NotoSerif-Bold.ttf) format('ttf');
}

/***************** Containers *********************/

.projectsBodyCardContainer {
    margin: 1em;
}

/***************** Headings *********************/

.projectsBodyHeading {
    margin-top: 0.05em;
    font-family: 'Noto-serif';
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    color:#5E2D1F;
}

.projectsBodyCardTitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
}

/***************** Text *********************/

.projectsBodyCardText {
    font-family: 'Nato_Serif';
    font-size: 1.2em;
    text-align: justify;
}
